.billCard {
  padding: 16px;
  background-color: #0f4124;
  color: white;
  border-radius: 14px;
}

.budget {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.input {
  vertical-align: middle;
  width: 100px;
  border: none;
  border-radius: 14px;
  border-radius: 14px;
  padding: 3px 6px;
  margin-left: 12px;
}

.primary {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.secondary {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.cta {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 14px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  border: none;
  color: #fff;
  background: #17c95f;
  transition: all 0.25s ease;
  width: 100%;
}

.cta:disabled {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 14px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  border: none;
  color: #fff;
  background: rgb(177, 177, 177);
  transition: all 0.25s ease;
  width: 100%;
}
