.bill {
  display: flex;
  flex-direction: row;
  padding: 16px;
  border: 1px solid #c2c2c2;
  margin: 20px 0;
  border-radius: 14px;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.billInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-right: 16px;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  margin-left: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.primary {
  font-weight: 500;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: var(--secondaryText);
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.amount {
  font-weight: 500;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: var(--secondaryText);
  margin: 0;
  padding: 0;
}

.secondary {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.secondaryButton {
  width: 90px;
  cursor: pointer;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border: none;
  background: #fcfcfc;
  margin-bottom: 12px;
}

.secondaryButton:last-child {
  margin-bottom: 0;
}

.edit {
  vertical-align: middle;
  width: 100px;
  border: none;
  height: 30px;
  border-radius: 14px;
  padding: 3px 6px;
  margin-bottom: 12px;
}

.editCategory {
  vertical-align: middle;
  width: 100px;
  border: none;
  height: 30px;
  border-radius: 14px;
  padding: 3px 6px;
  margin-right: 12px;
}
