@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.App {
  text-align: center;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .body {
    flex-direction: column;
  }

  .App {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 1rem;
  }

  .left {
    width: 100% !important;
    margin-right: 0 !important;
  }
}

:root {
  --primary: #17c95f;
  --secondary: #0f4124;
  --primaryText: #ffffff;
  --secondaryText: #3f3f3f;
}

body {
  background-color: #e3f2e7;
  color: #3f3f3f;
  font-family: 'Poppins';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.subHeader {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.primaryButton {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 14px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  border: none;
  color: #fff;
  background: #17c95f;
  transition: all 0.25s ease;
  width: 100%;
}

.primary {
  font-weight: 500;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: var(--secondaryText);
}

.secondary {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
}

.filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter {
  margin-left: 16px;
  padding: 6px 12px;
  border-radius: 14px;
  border: 1px solid #c2c2c2;
}

.item {
}

.body {
  display: flex;
}

.bills {
  overflow: scroll;
  max-height: 82vh;
}

.bill {
  display: flex;
  flex-direction: column;
  border: 1px solid #c2c2c2;
  margin: 20px 0;
  border-radius: 14px;
}

.dueAmount {
  margin-top: 48px;
  border: 1px solid #c2c2c2;
  border-radius: 14px;
}

.left {
  margin-right: 48px;
  width: 520px;
  margin-bottom: 16px;
}
